
/* Your CSS Code here. */
*{
	padding: 0;
	margin: 0;
}
ul{
	display: flex; gap: 30px;
}

nav{
	background-color: gray;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}